#unique{
    background-color: brown;
    width: 400px;
    height: 250px;
}

.classOfElements{
    background-color: yellowgreen;
    width: 350px;
    height: 160px;
    margin-top: 5px;
}

a{
    color: red;
    text-decoration: none;
}

*{
    /*border: 3px solid silver;*/
    color: #333;
}