body {
  background-color: white;
  margin: 0;
}
section{
  background-color: black;
    grid-area: section;
  min-height: 1000px;
  font-size: 100px;
  }
footer{
  background-color: #BF0000;
  color: white;
  grid-area: footer;
  height: 100px;
  text-align: left;
  font-size: 15px
}
nav a {
    color: #BF0000;
    text-align: justify-all;
    padding: 15px 50px;
    text-decoration: none;
    font-size: 30px;
    height:70px;
  }
  nav a:hover {
    background-color: rgb(100, 100, 100);
    color: black;
  }
  nav a.active {
    background-color: rgb(214, 16, 16);
    color: white;
  }