body {
  background-image: url(../img/2478754.png)
}
.link {
  font-size: 30px;
    color: black;
  padding: 10px;
}
.link1 {
  font-size: 30px;
    color: black;
  left: 200px;
  position: relative;
  top: 150px;
    color: red;
      text-shadow: 1px 1px black;
}
.link2 {
  font-size: 30px;
    color: black;
  left: 600px;
  position: relative;
  top: 150px;
  color: orange;
  text-shadow: 1px 1px black;
}
.link3 {
  font-size: 30px;
    color: black;
  left: 1000px;
  position: relative;
  top: 150px;
  color: yellow;
  text-shadow: 1px 1px black;
}
.link4 {
  font-size: 30px;
    color: black;
  left: 1400px;
  position: relative;
  top: 150px;
  color: green;
  text-shadow: 1px 1px black;
}
section{
    background-color: lightgrey;
    grid-area: section;
    min-height: 400px;
  font-size: 100px;
  text-align: center;
  }
footer{
    background-color: black;
    color: white;
    grid-area: footer;
    height: 100px;
  text-align: center;
  font-size: 40px
}
header{
    background-color: lightblue;
    color: white;
    grid-area: header;
    height: 100px;
  }
nav{
    background-color: violet;
    grid-area: nav;
    height: 70px;
}