body {
  background-image: url(../img/EguL3l.jpg);
  image-resolution: s
}
.link {
  font-size: 30px;
    color: red;
  padding: 10px;
}
.link1 {
  font-size: 30px;
  left: 400px;
  position: relative;
  top: 150px;
    color: white;
      text-shadow: 1px 1px black;
}
.link2 {
  font-size: 30px;
    color: white;
  left: 600px;
  position: relative;
  top: 150px;

  text-shadow: 1px 1px black;
}
.link3 {
  font-size: 30px;
    color: white;
  left: 800px;
  position: relative;
  top: 150px;

  text-shadow: 1px 1px black;
}
.link4 {
  font-size: 30px;
    color: white;
  left: 1000px;
  position: relative;
  top: 150px;

  text-shadow: 1px 1px black;
}
section{
  background-color: white;
    grid-area: section;
  min-height: 710px;
  font-size: 100px;
  text-align: center;
  }
footer{
    background-color: black;
    color: white;
    grid-area: footer;
    height: 100px;
  text-align: center;
  font-size: 40px
}
header{
    background-color: black;
    color: white;
    grid-area: header;
    height: 100px;
  text-align: center;
  font-size: 80px;
  }
nav{
    background-color: black;
 text-align: center;
  font-size: 50px;
  color:
}
.buttoncolor {
  color: white;
}