.square{
    width: 150px;
    height: 150px;
    border: 2px solid silver;
}

.circle{
    width: 150px;
    height: 150px;
    border: 2px solid silver;
    border-radius: 50%;
}

.red{
    background-color: rgb(194, 96, 96);
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}